

<div class="posttopmargin">
<br>
	<div class ="userprofilebody">
		<div class="userprofilecontent">

			

			
		<div class="userimageleft">
			<h1><%= @user.name %></h1>
			<%= image_tag @user.image.url(:small) %>

			<p>(<%= @user.email %>) <%= @user.bio %></p>
		</div>


		<div class="userbioposts">
			<h3><%= @user.name %>'s Posts</h3>

			<ul>
				<% @user.posts.each do |post| %>
				<li>
				<div class="userposttitle">
							
					<%= link_to post.title, post %> 
					
					<span id ="timecreated">Posted by: <%= post.user.name %> on <%= post.created_at.strftime("%b. %d %Y") %> </span>

				</div>

				<div class="userpostbody">
						<%= post.body[0...1000] %> ...
				</div>	

				<p class="readmore"><%= link_to "Read More...", post_path(post) %></p>

				</li>
				<% end %>
			</ul>
		</div>
<br>
<% if @user.id == current_user.id %>
<%= link_to 'edit', edit_user_path(@user) %>
<%= link_to 'back', users_path %> | 
<% else %>
<%= link_to 'back', users_path %>
<%end%>
<ul>



<%@relationship = Relationship.find_by(follower_id: current_user.id, followed_id: params[:id])%>


<% if @user.id == current_user.id %>
						This is You!
						<%elsif @relationship != nil%>
						<%= link_to 'Unfollow', unfollow_path(@user)%>
						<%else%>
						<%= link_to 'Follow', follow_path(@user)%>
						<%end%>







<%if @user.followers.count >= 2 || @user.followers.count == 0%>
<h4><%= @user.name%> Has <%= @user.followers.count%> Followers</h4>
<%else%>
<h4><%= @user.name%> Has <%= @user.followers.count%> Follower</h4>
<%end%>





<% @user.followers.each do |user| %>
	<li><%= user.name %></li>
<% end %>
</ul>

			
		</div>
	</div>

	<div class="rightnav">
	<div>
		<ul>
			<li id = "returnhome"><p><%= link_to 'Home', posts_path %></p></li>
			<li id = "newpost"><p><%= link_to 'New Post', new_post_path %></p></li>
			<li id = "viewprofile"><p><%= link_to 'View Profile', user_path(current_user)%></p></li>
			<li id = "followusers"></li>
			<li id = "accountsettings"><p><%= link_to 'Account Settings', edit_user_path(current_user) %></p></li>
			<li id = "signout"><p><%= link_to 'sign out', logout_path, method: :delete %></p></li>


		</ul>

	</div>
	
</div>



</div>

