<% if @post.errors.any? %>
	<ul>
		<% @post.errors.full_messages.each do |message| %>
			<li> <%= message %></li>
		<% end %>
	</ul>
	
<%end%>


<%= form_for @post do |f| %>

	<%= f.text_field :title, placeholder: "Enter Title Here..." %><br />
	
	<%= f.text_area :body, placeholder: "Enter Body Here..." %><br />
	<a><button type="button" class="formbuttons"><%= link_to 'Cancel', posts_path %></button></a>
	<%= f.submit :class => "formbuttons"%>


<% end %>

