<div class="posttopmargin">
<br>
<div class="newpostbody">
	<div class="editpostcontent">
		<h1>Edit Post</h1>
		<%= render 'form' %>
		<br />
	</div>	
</div>


<div class="rightnav">
	<div>
		<ul>
			<li id = "returnhome"><a><%= link_to 'Home', posts_path %></a></li>
			<li id = "newpost"><a><%= link_to 'New Post', new_post_path %></a></li>
			<li id = "viewprofile"><a><%= link_to 'View Profile', user_path(current_user)%></a></li>
			<li id = "followusers"></li>
			<li id = "accountsettings"><a><%= link_to 'Account Settings', edit_user_path(current_user) %></a></li>
			<li id = "signout"><a><%= link_to 'sign out', logout_path, method: :delete %></li>


		</ul>

	</div>
	
</div>