<div class="posttopmargin">
<br>
<!-- <div class="welcome">
	<h1>Welcome <%= current_user.name %>!</h1>

</div> -->


<div class="postsbody">

	<h1>Lastest Posts!</h1>
	<ul>
		<% @posts.reverse.each do |post| %>
			<li class="poststyling">
				<div class="posttitle">

				<%= link_to post.title, post_path(post) %> 
			
				<span id ="timecreated">Posted by: <%= post.user.name %> on <%= post.created_at.strftime("%b. %d %Y") %> </span>

				</div>
				<br>
				<div class="postbodystyling">
				<%= post.body[0...1000] %> ...
				</div>
				
			
				<div id="spaceme"></div>
				<p class="readmore"><%= link_to "Read More...", post_path(post) %></p>
			</li>
				<% end %>
	</ul>
	
				

</div>






<div class="rightnav">
	<div class="navbartext">
		<ul>
			<li id = "returnhome"><a><%= link_to 'Home', posts_path %></a></li>
			<li id = "newpost"><a><%= link_to 'New Post', new_post_path %></a></li>
			<li id = "viewprofile"><a><%= link_to 'View Profile', user_path(current_user)%></a></li>
			<li id = "followusers"></li>
			<li id = "accountsettings"><a><%= link_to 'Account Settings', edit_user_path(current_user) %></a></li>
			<li id = "signout"><a><%= link_to 'sign out', logout_path, method: :delete %><</li>


		</ul>

	</div>
	
</div>


</div>