<div class="posttopmargin">
<br>

<div class="showpostbody">
	<h1><%= @post.title %></h1>
	<p id="postbodyformat"><%= @post.body %></p>
	 
	 <% if current_user == current_post.user %>
				<%= link_to 'edit', edit_post_path %> |
				<%= link_to 'delete', post_path, method: :delete, data: {confirm: "Really delete this post?"} %>
	<% end %> 

<div class="commentbox">
	<h3>Comment </h3>
	<%= render 'comments/commentform' %>
	<br>
</div>
	<h3>Post Comments</h3>
	<% current_post.comments.last(10).reverse.each do |c| %>
	<div class="commentborders">
		<span><%= c.body %></span>
		<p> Posted by: <%= c.user.name %></p>
		<p><%= c.created_at.strftime("%b. %d %Y") %></p>
		<% if current_user == set_comment.user%>
				<%= link_to 'edit', edit_post_path %> |
				<%= link_to 'delete', post_comment_path(current_post, c), method: :delete, data: {confirm: "Really delete this comment?"} %>
	<% end %> 
	</div>
	<% end %>
</div>
<div class="rightnav">
	<div>
		<ul>
			<li id = "returnhome"><a><%= link_to 'Home', posts_path %></a></li>
			<li id = "newpost"><a><%= link_to 'New Post', new_post_path %></a></li>
			<li id = "viewprofile"><a><%= link_to 'View Profile', user_path(current_user)%></a></li>
			<li id = "followusers"></li>
			<li id = "accountsettings"><a><%= link_to 'Account Settings', edit_user_path(current_user) %></a></li>
			<li id = "signout"><a><%= link_to 'sign out', logout_path, method: :delete %></li>



		</ul>

	</div>
	
</div>



</div>


