<!DOCTYPE html>
<html>
<head>
  <title>Mumblr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
	<% if current_user != nil %>
	<a class="usernavpic"><%= image_tag current_user.image.url(:icon)%> </a> <h3 class="usernavname">Welcome <%=current_user.name%>! </h3>
	<h1 class="mumblrlogo"><%= "Mumblr." %></h1>
	<%else%>
		<h1 class="mumblrlogo2"><%= "Mumblr." %></h1>
	<%end%>
		<!-- <h1 class="mumblrlogo">Mumblr.</h1> -->
	
		<div class="signoutlink">
			<a class="notice"><%= flash[:notice] if flash[:notice] %></a>
				<a class="alert"><%= flash[:alert] if flash[:alert] %></a>
				<br>

		</div>
		<!-- <p><%= link_to 'New here? Sign Up!', new_user_path %></p> -->
		

		<!-- <%= render 'shared/login' %> -->
	</header>

	
	

<%= yield %>

</body>
</html>
